$title-size: 48px;
$subtitle-size: 24px;
$text-size: 18px;
$subtext-size: 16px;
$nav-btns-size: 14px;

$tb-title-size: 42px;

$mb-title-size: 32px;
$mb-subtitle-size: 20px;
$mb-text-size: 14px;
$mb-subtext-size: 12px;
$mb-nav-btns-size: 18px;

$bg-color: #EAEAE8;
$dark-bg-color: #231F20;

$clickable-element-color: #7C7A7A;
$highlight-element-color: #FF0040;

$text-color: #EAEAE8;
$header-text-color: #231F20;
$highlight-text-color: #FF0040;

$pc-width: 1280px;
$tablet-width: 768px;
$mobile-width: 767px;